<% provide(:title, "Make an appointment") %>
<html>
    
    <ul class="nav navbar-nav navbar-right">
        </ul>
    <body>
        <h1 style = "margin-top: 0px;">This is an Make an Appointment Page</h1>
        <div class = "invisibleblock"></div>
        <div  class = "appointmentframe"> 
        <div class = "appointmentheader">
        <li>Find a Doctor</li>
        <li>What specaity:</li>
       
        </div>
        
        </div>
        
    </body>
    
    
    
</html>